@media only screen and (min-width: 240px) and (max-width: 768px) {
    .forgot-column-responsive {
        margin-left: 0px !important;
    }
    .logo-wrapper {
        margin-left: 0px;
    }
}

/* Media Query for iPad Device Portrait  */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .forgot-column-responsive {
        min-width: 50%;
    }
}

/* Media Query for iPad Device Landscape  */

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    .forgot-column-responsive {
        min-width: 50%;
    }
}

/* iPad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .forgot-column-responsive {
        min-width: 50%;
    }
}

/* /* iPad Pro  Landscape */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .forgot-column-responsive {
        min-width: 50%;
    }
}
