@media only screen and (min-width: 240px) and (max-width: 768px) {
    .responsive-d-show {
        word-break: break-all;
        font-size: 13px !important;
    }
    .responsive-d-none {
        display: none !important;
    }
    .responsive-text-right {
        text-align: end !important;
    }
    .invoice-information {
        margin-top: 2em;
    }
    .auto-width {
        width: max-content;
        float: right;
    }
    .invoice-number h1 {
        font-size: 20px !important;
    }
    .site-invoice-page .invoice-card {
        padding-left: 0px !important;
    }
    .table-invoice td,
    th {
        font-size: 12px !important;
        padding: 7px !important;
    }
}

/* Landscape Media Query for small devices  */

@media only screen and (min-device-width: 240px) and (max-device-width: 768px) and (orientation: landscape) {
    .auto-width {
        float: right !important;
    }
}

@media (min-width: 576px) {
    .responsive-d-none {
        display: table-cell !important;
    }
    .auto-width {
        float: right;
    }
}

/* ----------- Portrait for Galaxy Fold ----------- */

@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
    .table-invoice td,
    th {
        font-size: 10px !important;
    }
    .invoice-topup .invoice-topup-link {
        position: absolute !important;
        margin-top: 5px !important;
        margin-left: 5px !important;
    }
    .site-invoice-page .invoice-card {
        padding-left: 0px !important;
    }
    .add-card-modal .billing-addcard-footer .close-btn {
        font-size: 12px !important;
    }
    .add-card-modal .billing-addcard-footer .payment-btn {
        font-size: 11px !important;
    }
}

/* ----------- Portrait for iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .table-invoice td,
    th {
        font-size: 12px !important;
    }
}

/* ----------- Landscape for Nexus 7 ----------- */

@media only screen and (min-device-width: 960px) and (max-device-width: 960px) {
    .invoice-information {
        margin-top: 2em;
    }
}

/* ----------- Landscape for Pixel 2xl ----------- */

@media only screen and (min-device-width: 823px) and (max-device-width: 823px) {
    .invoice-information {
        margin-top: 2em;
    }
}

/* ----------- Landscape for iPhone X ----------- */

@media only screen and (min-device-width: 812px) and (max-device-width: 812px) {
    .invoice-information {
        margin-top: 2em;
    }
}

/* ----------- Landscape for Nexus 7 ----------- */

@media only screen and (min-device-width: 960px) and (max-device-width: 960px) {
    .invoice-information {
        margin-top: 2em;
    }
}

/* ----------- Landscape for Pixel 2xl ----------- */

@media only screen and (min-device-width: 823px) and (max-device-width: 823px) {
    .invoice-information {
        margin-top: 2em;
    }
}

/* ----------- Landscape for iPhone X ----------- */

@media only screen and (min-device-width: 812px) and (max-device-width: 812px) {
    .invoice-information {
        margin-top: 2em;
    }
}
