@media screen and (min-device-width: 240px) and (max-device-width: 768px) {
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-left: -2em;
    }
    .site-plugin-update .updatebtn {
        max-width: 80% !important ;
        margin-right: 0px !important;
        margin-left: -1em !important;
    }
}

/* Landscape Media Query for small devices  */

@media only screen and (min-device-width: 240px) and (max-device-width: 768px) and (orientation: landscape) {
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-left: -3em;
        margin-top: -2em;
    }
    .site-plugin-update .updatebtn {
        max-width: 90% !important ;
        margin-left: -1em !important;
    }
}

/* The Below css is for Nexus 7 device Portrtait  */

@media only screen and (min-device-width: 600px) and (max-device-width: 600px) {
    .site-plugin-update .updatebtn {
        margin-left: -8px !important;
        min-width: 90% !important;
    }
}

/* The Below css is for Nexus 7 device Landscape  */

@media only screen and (min-device-width: 960px) and (max-device-width: 960px) {
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
    .site-plugin-update .updatebtn {
        max-width: 50% !important;
    }
}

/* ----------- Portrait for Lumia Device ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .site-plugin-update .updatebtn {
        margin-left: 0px !important;
        max-width: 83% !important;
    }
}

/* ----------- Portrait for Lumia Device ----------- */

@media only screen and (min-device-width: 533px) and (max-device-width: 553px) {
    .site-plugin-update .updatebtn {
        margin-left: 0px !important;
        min-width: 86% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/* ********  Portrait Media Query for Pixel 2 Device ********  */

@media screen and (min-device-width: 411px) and (max-device-width: 411px) {
    .site-plugin-update .updatebtn {
        margin-left: -2px !important;
        min-width: 87% !important;
    }
}

/* ----------- Landscape for Pixel 2 ----------- */

@media only screen and (min-device-width: 731px) and (max-device-width: 731px) {
    .site-plugin-update .updatebtn {
        margin-left: -2px !important;
        min-width: 90% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/*  Media Query for landscape Pixel 2 Xl  */

@media only screen and (min-device-width: 823px) and (max-device-width: 823px) {
    .site-plugin-update .updatebtn {
        max-width: 70% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/*  Media Query for landscape  iPhone 5 Xl  */

@media only screen and (min-device-width: 568px) and (max-device-width: 568px) {
    .site-plugin-update .updatebtn {
        margin-left: -5px !important;
        min-width: 86% !important;
    }
}

/*  Media Query for Portrait  iPhone 6/7/8 Pluse Xl  */

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) {
    .site-plugin-update .updatebtn {
        margin-left: -5px !important;
        min-width: 80% !important;
    }
}

/*  Media Query for Landscape  iPhone 6/7/8 Plus Xl  */

@media only screen and (min-device-width: 736px) and (max-device-width: 736px) {
    .site-plugin-update .updatebtn {
        margin-left: -5px !important;
        min-width: 90% !important;
    }
}

/*  Media Query for Landscape  iPhone X  Xl  */

@media only screen and (min-device-width: 812px) and (max-device-width: 812px) {
    .site-plugin-update .updatebtn {
        margin-left: -5px !important;
        max-width: 70% !important;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
}

/* Ipad Media Queries Portrait  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .site-plugin-update .updatebtn {
        margin-left: 0px !important;
        max-width: 53% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/* Ipad Landscape Media Queries  */

@media all and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
    .update-inner .update-all-col {
        text-align: right !important;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -3em;
    }
}

/* ----------- iPad Pro  Portrait----------- */

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .update-inner .update-all-col {
        text-align: right !important;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -3em;
    }
}

/* ----------- iPad Pro  Landscape----------- */

/* Landscape */

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .update-inner .update-all-col {
        text-align: right !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/*  Media Query for Surface Duo Device Portrait */

@media screen and (min-device-width: 540px) and (max-device-width: 540px) {
    .site-plugin-update .updatebtn {
        margin-left: -5px !important;
        min-width: 90% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/*  Media Query for Surface Duo Device Landscape */

@media screen and (min-device-width: 720px) and (max-device-width: 720px) {
    .site-plugin-update .updatebtn {
        min-width: 91% !important;
    }
    .update-all-business-main .update-all-business-wp-icon svg {
        margin-top: -2em;
    }
    .site-core-inner-section .site-domain {
        overflow: auto;
        height: 50px;
    }
    .site-core-inner-section .site-name {
        overflow: auto;
        height: 50px;
    }
}

/* ----------- Portrait for Galaxy Fold ----------- */

@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
    .site-plugin-update .updatebtn {
        margin-left: 0px !important;
        max-width: 79% !important;
    }
}
