@media only screen and (max-width: 600px) {
    #site-name-link {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .site-list-image,
    #site-name-link {
        text-align: center;
        margin: auto;
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .one-click-login .site-wordpress {
        float: none !important;
        text-align: center !important;
    }
    .table-background td {
        max-width: 100% !important;
    }
    .quick-login {
        float: none !important;
        text-align: center !important;
    }
    .no-site-launch-main .no-data-text {
        text-align: center !important;
    }
    .no-site-launch-main .launching-text {
        margin-top: 1em;
        line-height: 1;
        max-width: 100%;
    }
    .site-launch-main .primary-domain {
        max-width: 100%;
        word-break: break-word;
    }
    .badge-danger {
        margin-top: 10px;
    }

    .site-type {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .td-responsive {
        text-align: center;
    }
    .td-responsive .site-ip-address {
        float: none !important;
        display: contents;
    }
    .site-list-page-dropdown-main::after {
        position: absolute !important;
        right: -2px !important;
        margin: 9px !important;
    }
}

/* Pagination Responsivness Code  */

@media only screen and (min-width: 463px) and (max-width: 767px) {
    .site-list-page-dropdown-main {
        color: #3e3f42 !important;
        background-color: white !important;
        border: solid 1px #e2e5ed !important;
        font-family: sans-serif;
        font-size: 15px !important;
        padding-right: 1em !important;
        width: 100% !important;
        margin-bottom: 13px;
    }
    .site-list-page-dropdown-main::after {
        margin: 11px !important;
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: absolute;
        right: 0 !important;
        margin-left: 6px !important;
        margin-top: 9px !important;
    }
    .site-list-page-dropdown-main .dropdown-menu.show {
        transition: all ease-in 0.2s !important;
    }
    /* .site-list-pagination-number .pagination {
        position: absolute;
        top: -36px;
    } */
    .site-list-dropdown-menu-main {
        width: 100% !important;
        transition: all ease-in 0.2s;
        text-align: center;
    }
    .site-list-dropdown-menu-main .dropdown-item {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 462px) {
    .site-list-page-dropdown-main {
        color: #3e3f42 !important;
        background-color: white !important;
        border: solid 1px #e2e5ed !important;
        font-family: sans-serif;
        font-size: 15px !important;
        padding-right: 1em !important;
        width: 100% !important;
    }

    .site-list-page-dropdown-main .dropdown-menu.show {
        width: 100% !important;
        text-align: center;
        transition: all ease-in 0.2s !important;
    }
    .responsive-pagenumber-site-list {
        padding: 15px;
    }
    .site-list-pagination-number .pagination {
        margin: 10px;
    }
    .site-list-dropdown-menu-main {
        width: 100% !important;
        transition: all ease-in 0.2s;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .site-list-page-dropdown-main {
        width: 100% !important;

        text-align: center;
    }
    .dropdown-menu.show {
        width: 100% !important;
        text-align: left;
        transition: all ease-in 0.2s !important;
    }
    .site-list-pagination-number .pagination .page-link {
        width: 28px !important;
    }
}

@media only screen and (min-width: 540px) and (max-width: 540px) {
    .site-list-page-dropdown-main {
        width: 100% !important;
    }
    .site-list-dropdown-menu-main {
        width: 100% !important;
        transition: all ease-in 0.2s;
        float: left !important;
        font-size: 14px;
    }

    .site-list-pagination-number .pagination {
        margin-top: 16px;
    }
    .site-list-page-dropdown-main::after {
        right: 0;
    }
}

@media only screen and (min-device-width: 812px) and (max-device-width: 812px) {
    .site-list-page-dropdown-main::after {
        position: absolute !important;
        right: 5px !important;
        margin: 9px !important;
    }
    .site-list-main-wrapper .td-responsive {
        width: 16%;
        padding-top: 29px;
    }

    .site-list-main-wrapper td {
        vertical-align: middle;
        line-height: 3;
    }
}

@media only screen and (min-device-width: 823px) and (max-device-width: 823px) {
    .site-list-main-wrapper td {
        vertical-align: middle;
        line-height: 3;
    }
    .site-list-main-wrapper .td-responsive {
        width: 16% !important;
        padding-top: 36px !important;
    }
}

/* iPad (Portrait and Landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .site-list-page-dropdown-main::after {
        position: absolute !important;
        margin: 9px !important;
        transition: none !important;
    }
}

/* iPad Pro (Portrait and Landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .site-list-dropdown-menu-main {
        width: 77% !important;
    }
    .site-list-page-dropdown-main {
        width: 77% !important;
    }
    .site-list-page-dropdown-main::after {
        position: absolute !important;
        right: 24% !important;
        margin: 9px !important;
    }
}
