@media screen and (min-device-width: 240px) and (max-device-width: 767px) {
    .create-backup-button {
        min-width: 40%;
    }
    .updatebtn {
        margin-left: 5px !important;
        width: 93%;
        padding: 6px !important;
    }
    .backup-restore-button {
        width: 93%;
    }
    .swal-button-width .swal2-styled.swal2-cancel {
        width: 32% !important;
    }
    .responsive-backup-tooltip {
        display: inline-block;
        position: absolute;
    }
    .tooltip.show {
        margin-left: -5px !important;
    }
    .backupdownload-info-icon svg {
        width: 13px !important;
        margin-top: -10px !important;
        margin-left: -10px !important;
    }
    .remove-padding-margin-responsive {
        padding: 0px !important;
        margin: 0px !important;
    }
    .responsive-dis-none {
        display: none;
    }
    .backup-list .list-group-item {
        padding: 18px 13px !important;
    }
    .clone-info-icon svg {
        margin-left: -8px !important;
    }
    .clone-button {
        width: 80% !important;
        margin-right: 14px !important;
    }
    .site-backup-page {
        margin-top: 6em !important;
    }
    .responsive-action-title {
        width: 51% !important;
    }
    .performed-by-title {
        margin-left: -19px;
    }
    .backup-restore-icon {
        display: block;
        position: absolute;
        margin-left: 4px;
    }
}
/* LandScape Queries for small devices  */

@media only screen and (min-device-width: 480px) and (max-device-width: 780px) and (orientation: landscape) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -27px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -27px;
    }
    .responsive-action-title {
        width: 31% !important;
    }

    .backup-restore-icon {
        display: inline-block;
        margin-left: -48px;
    }
    .backup-restore-button .restore-text {
        display: block !important;
        left: 92px !important;
        position: absolute !important;
    }
}

/* Media Query for Nexus Device  */

@media screen and (min-device-width: 600px) and (max-device-width: 600px) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -27px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -50px;
    }
    .responsive-action-title {
        width: 31% !important;
    }
    .backup-restore-button .restore-text {
        display: block !important;
        left: 85px !important;
        position: absolute !important;
    }
}

/* Media Query for Nokia Lumia Portrait  */

@media screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .backup-download-icon {
        display: inline-block;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -13px;
    }
}

/* Media Query for Nokia Lumia Landscape  */

@media screen and (min-device-width: 533px) and (max-device-width: 533px) {
    .backup-download-icon {
        display: inline-block;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -48px;
    }
    .backup-restore-button .restore-text {
        display: block !important;
        left: 73px !important;
        position: absolute !important;
    }
}

/* Media Query for Surface Duo Portrait  */

@media screen and (min-device-width: 540px) and (max-device-width: 540px) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -16px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -21px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -44px;
    }
    .backup-restore-button .restore-text {
        left: 77px !important;
        position: absolute;
    }
}
/* Media Query for Surface Duo Landscape  */

@media screen and (min-device-width: 720px) and (max-device-width: 720px) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -16px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -44px;
    }
    .backup-restore-button .restore-text {
        left: 113px !important;
        position: absolute;
    }
}

/* Media Queries for Galaxy Fold Portrait  */

@media only screen and (min-device-width: 280px) and (max-device-width: 280px) {
    .backup-download-icon {
        display: none;
    }
    .backup-restore-icon {
        display: none;
    }

    .backupdownload-info-icon svg {
        margin-top: 14px !important;
    }
    .swal-button-width .swal2-styled.swal2-cancel {
        width: 42% !important;
    }
    .site-backup-page .updatebtn {
        width: 100% !important;
    }
    .create-backup-button {
        width: 50% !important;
    }
    .backup-restore-button .restore-text {
        left: 36px !important;
        position: absolute;
    }
    .site-backups-heading {
        font-size: 13px;
    }
}

/* Media Queries for Galaxy Fold Landscape  */

@media only screen and (min-device-width: 653px) and (max-device-width: 653px) {
    .backup-restore-button .restore-text {
        left: 95px !important;
        position: absolute;
    }
}

/* Ipad Media Queries Portrait  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .responsive-dis-none {
        display: none !important;
    }
    .clone-button {
        width: 100% !important;
    }
    .responsive-clone-tooltip {
        display: inline-block;
        position: absolute;
        margin: -1px;
    }
    .responsive-dis-none {
        display: none;
    }
    .site-backup-tooltip {
        margin-left: 0px !important;
    }
    .site-clone-tooltip {
        margin-left: 0px !important;
    }
    .clone-button {
        width: 100% !important;
    }
    .responsive-backup-tooltip {
        display: inline-block;
        position: absolute;
    }
}

/* Media Query for Pixel Xl */

@media screen and (min-device-width: 411px) and (max-device-width: 411px) {
    .backup-restore-icon {
        display: inline-block;
        margin-left: -13px;
    }
}

/* Media Query for Pixel Xl */

@media screen and (min-device-width: 414px) and (max-device-width: 414px) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -16px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -21px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -44px;
    }
    .backup-restore-button .restore-text {
        left: 53px !important;
        position: absolute;
    }
}

/* Media Query for Pixel Xl Landscape */

@media screen and (min-device-width: 731px) and (max-device-width: 731px) {
    .backup-restore-icon {
        display: inline-block;
        margin-left: -48px;
    }
    .backup-restore-button .restore-text {
        left: 109px !important;
        position: absolute;
    }
}
/* Media Query for iPhone X */

@media screen and (min-device-width: 375px) and (max-device-width: 375px) {
    .backup-download-icon {
        display: inline-block;
        margin-left: -16px;
    }
    .backup-restore-icon {
        display: inline-block;
        margin-left: -44px;
    }
    .backup-restore-button .restore-text {
        left: 47px !important;
        position: absolute;
    }
}

/* Media Query for iphone 5 Landscape */

@media screen and (min-device-width: 568px) and (max-device-width: 568px) {
    .backup-restore-button .restore-text {
        left: 79px !important;
    }
}

/* Media Query for iphone 5 Landscape */

@media screen and (min-device-width: 667px) and (max-device-width: 667px) {
    .backup-restore-button .restore-text {
        left: 98px !important;
    }
}

/* Media Query for iphone X Landscape */

@media screen and (min-device-width: 736px) and (max-device-width: 736px) {
    .backup-restore-button .restore-text {
        left: 110px !important;
    }
}
